<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="log.path" source="LOG_HOME" defaultValue="c:\\dev\\tmp\\log\\"/>

    <!--
        CONSOLE ：表示当前的日志信息是可以输出到控制台的。
    -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level]  %cyan([%thread]) %boldGreen(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>

        <file>${log.path}\testlog.log</file>


        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${log.path}\news.-%d{yyyy-MM-dd}.log%i.gz
            </fileNamePattern>
            <MaxFileSize>10Mb</MaxFileSize>
        </rollingPolicy>

    </appender>




    <!--

      level:用来设置打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF
     ， 默认debug
      <root>可以包含零个或多个<appender-ref>元素，标识这个输出位置将会被本日志级别控制。
      -->
    <logger name="com.geekaca.mall.mapper" level="info"  >
<!--        <appender-ref ref="FILE" />-->
    </logger>

    <root level="info">
        <appender-ref ref="Console"/>
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>